@use "../../styles/variables" as *;

.overlay {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: $black-50;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
