@use "../styles/variables" as *;
@use "../styles/typography" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 10px 24px;
  color: $white;
  font-size: $fz-small;
  line-height: $lh-h5;
}

.button--round {
  border-radius: 50%;
  padding: 0;
  width: 50px;
  height: 50px;
}

.button--pill {
  border-radius: 70px;
}

.button--white {
  background-color: $white;
  color: $navy;
}

.button--blue {
  background-color: $blue;
}

.button--pink {
  background-color: $pink;
}

.border--grey {
  border: 1px solid $grey-30;
}
