@use "../../styles/variables" as *;

.default {
  flex-grow: 1;
  padding: 24px;
  text-transform: capitalize;
}

.auth {
  flex-grow: 1;
  text-align: center;
  padding: 14px 32px;
}

.modal {
  width: 100%;
  justify-content: space-between;
  color: $grey-70;
}
