@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.inputContainer {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: $fz-body;
  line-height: $lh-h5;
  margin-bottom: 12px;
  transition: all 0.2s;
}

.input {
  font-size: $fz-body;
  line-height: $lh-h5;
  border: 1px solid $grey-30;
  background-color: $grey-10;
  border-radius: 8px;
  padding: 10px 20px;
  outline: 0;
  color: inherit;
}

.input:focus {
  outline: 2px solid $grey-50;
}

.inputContainer.error label {
  color: $pink;
}

.inputContainer.error label::after {
  content: "";
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  background-image: url("../../icons/warning.svg");
  background-position: center;
  background-size: cover;
}

.inputContainer.error input {
  border: 1px solid $pink;
}

p.error {
  color: $pink;
  font-size: $fz-extra-small;
  line-height: $lh-20;
  min-height: $lh-20;
  opacity: 0;
  transition: all 0.2s;
}

p.showError {
  opacity: 1;
}
