/* Минимальный normalize.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Inter", sans-serif; /* можно заменить на свой шрифт */
  background-color: #fff;
  color: #000;
}
