// Font family
$ff-main: "Inter", sans-serif;

// Font weights
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Font size scale
$fz-small: 14px;
$lh-small: 28px;

$fz-body: 16px;
$lh-body: 28px;

$fz-h5: 18px;
$lh-h5: 30px;

$fz-h4: 20px;
$lh-h4: 40px;

$fz-h3: 24px;
$lh-h3: 40px;

$fz-h2: 28px;
$lh-h2: 40px;

$fz-h1: 36px;
$lh-h1: 60px;
