// font

$font-main: "Inter", sans-serif;

//colors

$black: #000000;
$black-50: rgba(0, 0, 0, 0.5);
$navy: #092c4c;
$blue: #514ef3;
$green: #2dc8a8;
$yellow: #ffc357;
$pink: #fe8084;
$grey-90: #526477;
$grey-70: #7e92a2;
$grey-50: #d6e1e6;
$grey-30: #eaeef4;
$grey-10: #f6fafd;
$white: #ffffff;
