@use "../../../../shared/UI/styles/variables.scss" as *;

.bg {
  width: 100%;
  min-height: 100vh;
  background-color: $black-50;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 620px;
  background-color: $white;
  border-radius: 12px;
  color: $navy;
}
.title {
  width: 100%;
  text-align: center;
  padding: 14px 32px;
}
